<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
         <div class="card-header">
             <h3 class="mb-0">Search User</h3>
         </div>
         <div class="card-body">
             <form class="form">
                 <div class="form-group">
                     <label for="">Email</label>
                     <input name="email" [(ngModel)] = 'searchsonsorUserData.email' type="text" class="form-control rounded-0" required>
                 </div>
              <button (click)="searchSponsor()" type="button" class="btn btn-success float-right">Search</button>
              <table border="1">
                <tr *ngFor="let da of searchsonsorUserData">
                    <td>{{da.email}}</td>
                </tr>
            </table>
             </form>
         </div>
      </div>
     </div>
  </div>
  