<div>
    <!-- <div *ngIf="currentUser.userRole == 'admin'"> -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="small-box bg-aqua-active">
              <div class="inner">
                <h3>Good Afternoon</h3>
                <h4>Welcome to Pulse.</h4>
              </div>
              <div class="icon">
                <i class="ion ion-ios-pulse"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua-active">
              <div class="inner">
                <h3>XX</h3>
                <p>Total Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-contacts"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua-active">
              <div class="inner">
                <h3>XXXX</h3>
                <p>Total Campaigns</p>
              </div>
              <div class="icon">
                <i class="ion ion-paper-airplane"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua-active">
              <div class="inner">
                <h3>XX,XXXX</h3>
                <p>Total Companies</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-world"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua-active">
              <div class="inner">
                <h3>XXX</h3>
                <p>Total Searches</p>
              </div>
              <div class="icon">
                <i class="ion ion-search"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box box-primary">
              <div class="box-header ui-sortable-handle">
                <i class="ion ion-android-contact"></i>
                <h3 class="box-title">Users</h3>
              </div>
              <div class="box-body">
                <ul class="user-roles">
                  <li>DBA<span>XX</span></li>
                  <li>Team Leaders<span>XX</span></li>
                  <li>Managers<span>XX</span></li>
                  <li>Quality Specialist<span>XX</span></li>
                  <li>Sales<span>XX</span></li>
                  <li>Marketing<span>XX</span></li>
                  <li>Ops<span>XX</span></li>
                  <li>Agents<span>XXX</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="box box-primary">
                <div class="box-header ui-sortable-handle">
                  <i class="ion ion-arrow-graph-up-right"></i>
                  <h3 class="box-title">Campaign Stats</h3>
                </div>
                <div class="box-body">
                    <!-- <p-chart type="bar" [data]="campaignChartData"></p-chart> -->
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>